gunicorn==23.0.0
cloudpickle==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-slugify==8.0.4
python-socks==2.7.1
fastapi==0.115.12
fastjsonschema==2.21.1
fastparquet==2024.11.0
Flask==3.1.1
docker==7.1.0
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
uvicorn==0.34.3
scikit-learn==1.6.1
mlflow==2.22.0
psutil==7.0.0
boto3==1.38.23